version: "3.9"

services:
  web:
    build: .
    image: microblog-web:latest
    expose:
      - "5000"
    networks:
      - frontend
      - backend

    environment:
      FLASK_APP: microblog.py
      FLASK_ENV: production
      FLASK_DEBUG: "0"
      DB_PASSWORD_FILE: /run/secrets/db_password
      REDIS_PASSWORD_FILE: /run/secrets/redis_password

    secrets:
      - db_password
      - redis_password

    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

    user: "1000:1000"

    security_opt:
      - no-new-privileges:true
      - apparmor:docker-default

    cap_drop:
      - ALL

    read_only: true
    tmpfs:
      - /tmp

  db:
    image: postgres:15
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

    secrets:
      - db_password

    environment:
      POSTGRES_USER: microblog
      POSTGRES_DB: microblog
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password

    deploy:
      restart_policy:
        condition: on-failure

    security_opt:
      - no-new-privileges:true
      - apparmor:docker-default

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U microblog"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    networks:
      - backend

    secrets:
      - redis_password

    command: >
      sh -c 'redis-server
      --requirepass "$$(cat /run/secrets/redis_password)"
      --protected-mode yes'

    deploy:
      restart_policy:
        condition: on-failure

    security_opt:
      - no-new-privileges:true
      - apparmor:docker-default

    cap_drop:
      - ALL

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    networks:
      - frontend

    deploy:
      restart_policy:
        condition: on-failure

    user: "101:101"

    security_opt:
      - no-new-privileges:true
      - apparmor:docker-default

    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE

    

volumes:
  postgres_data:
  certbot_www:
  certbot_conf:

networks:
  frontend:
    driver: overlay
  backend:
    driver: overlay
    internal: true

secrets:
  db_password:
    external: true
  redis_password:
    external: true
